<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            {% include "includes/user.html" %}
            {% block user_info %}{% endblock %}
            {% if current_user.get_menu_items() %}
                {% for menu in current_user.get_menu_items() %}
                    {% if menu.has_sub_menu() %}
                        <li {% if selected_menu and menu.contains(selected_menu) %}class="active"{% endif %}>
                            <a href="{{ menu.url }}"><i class="fa {{ menu.icon_css }}"></i> <span
                                    class="nav-label">{{ menu.desc }}</span> <span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% for sub_menu in menu.sub_menus %}
                                    <li class="{% if selected_menu and sub_menu.contains(selected_menu) %}active{% endif %}">
                                        <a href="{{ sub_menu.url }}">{{ sub_menu.desc }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li {% if selected_menu and menu.contains(selected_menu) %}class="active"{% endif %}>
                            <a href="{{ menu.url }}">{{ menu.desc }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>

    </div>
</nav>