{% from 'macros/_form.html' import form_error, vertical_field, form_submit, field_error %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>超级前台</title>

    <link href="{{ assets('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ assets('css/style.css') }}" rel="stylesheet">
</head>

<body class="gray-bg">

<div class="customize-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">Unicorn</h1>
        </div>

        <form class="m-t resetpassword" role="form" action="{{ url_for('account.restore_password') }}" method="POST">
            <div id='alert_danger' class="hidden alert alert-danger" role="alert"></div>
            {{ form.csrf_token() }}
            {{ form.token() }}
            {{ form_error() }}
            <div class="form-group">
                {{ form.mobile(class="form-control", placeholder=form.mobile.description) }}
                {{ field_error(form.mobile) }}
                <button id="btn_get_message_checksum" class="btn btn-default">获取短信</button>
            </div>
            {{ vertical_field(form.verify_code, label=False) }}
            {{ vertical_field(form.new_password, label=False) }}
            {{ vertical_field(form.confirm_password, label=False) }}
            {{ form_submit('找回密码', full_width=True) }}
            <a class="btn btn-sm btn-white btn-block m-t-sm" href="{{ url_for('account.login') }}">返回首页</a>
        </form>
        <p class="m-t">
            <small>悠尼客（上海）企业管理有限公司 &copy; 2015</small>
        </p>
    </div>
</div>

<script src="{{ assets('js/base.js') }}"></script>
<script>
    $(function () {
        var csrftoken = $('#csrf_token').attr('value');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        // 重置密码类
        var BtnGetChecksum = function (el, delay_seconds) {
            this.el = el; // 操作的element
            this.delay_seconds = delay_seconds; // 每次停留时间
            this.left_seconds = delay_seconds;  // 还余下多久
            this.uuid = BtnGetChecksum.uuid;    // 可服务同个页面多个重置
            BtnGetChecksum.uuid += 1;
        };
        BtnGetChecksum.uuid = 0;

        BtnGetChecksum.prototype.can_click = function () {
            var now = Date.now();
            var cookie_key = 'btn_get_checksum' + this.uuid;
            var last_click = $.cookie(cookie_key);
            if (last_click && $.isNumeric(last_click)) {
                if ((now - last_click) < this.left_seconds * 1000) {
                    return false;
                }
            }
            return true;
        };

        BtnGetChecksum.prototype.start = function () {
            var cookie_key = 'btn_get_checksum' + this.uuid;
            $.cookie(cookie_key, Date.now());
            this.el.attr('disabled', 'disabled');
            this.left_seconds = this.delay_seconds;
            this.interval_handler = setInterval($.proxy(function () {
                if (this.is_end()) {
                    this.finish();
                    clearInterval(this.interval_handler);
                } else {
                    this.step();
                }
            }, this), 1000);
            this.step();
            return true;
        };
        BtnGetChecksum.prototype.is_end = function () {
            return this.left_seconds <= 0;
        };
        BtnGetChecksum.prototype.step = function () {
            this.el.html("剩余(" + this.left_seconds + ")秒");
            this.left_seconds -= 1;
        };
        BtnGetChecksum.prototype.finish = function () {
            this.el.removeAttr('disabled');
            this.el.html("获取短信");
        };

        function is_validate_mobile(mobile) {
            if (mobile.length < 9) {
                return false;
            }
            return /^\d+$/.test(mobile);
        }

        function log_error(message) {
            $log_error = $('#alert_danger');
            $log_error.removeClass('hidden');
            $log_error.html(message);
        }

        function hide_error(message) {
            $log_error = $('#alert_danger');
            $log_error.addClass('hidden');
        }

        var error2message = {
            2000: '重置密码次数过多, 请联系管理员',
            2001: '需要发送手机号码',
            2002: '错误手机号码'
        };
        var common_error = '发送错误请联系管理员';
        var $mobile = $('#mobile');
        var $token = $('#token');
        var $btnGetChecksum = $('#btn_get_message_checksum');
        var btnGetChecksum = new BtnGetChecksum($btnGetChecksum, 60);
        $btnGetChecksum.click(function (e) {
            e.preventDefault();

            var mobile = $mobile.val().trim();
            if (!is_validate_mobile(mobile)) {
                log_error('手机号码有错误');
                return false;
            }

            if (!btnGetChecksum.can_click()) {
                log_error("必须等待60秒");
                return false;
            }

            function handle_error(data) {
                if (data.code !== undefined) {
                    if (error2message[data.code]) {
                        log_error(error2message[data.code]);
                    } else {
                        log_error(common_error);
                    }
                } else if (data.responseJSON) {
                    handle_error(data.responseJSON);
                } else {
                    log_error(common_error);
                }
            }

            $.post('/account/get_checksum', {'mobile': mobile}).success(function (data) {
                if (data.code == 0) {
                    $token.val(data['data']['token']);
                    btnGetChecksum.start();
                    hide_error();
                } else {
                    handle_error(data);
                }
            }).fail(handle_error);
        });
    });
</script>
</body>
</html>
